@import url(https://fonts.googleapis.com/css?family=Russo+One);

.brand {
    font-family: 'Russo One', sans-serif;
    text-shadow: #0f5905 2px 4px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

/*
 * Sugar!
 * ------
 * Because I love effective color!
 * http://www.colourlovers.com/palette/848743/(%E2%97%95_%E2%80%9D_%E2%97%95)
 *
 */
h1.sugar {
    color : #6f6f6f;
}

.brand.sugar {
    color : #fff; /* because, we are more important than we ever thought! */
}

hr.sugar {
    border-top: 1px solid #490A3D;
}

.btn-link.sugar {
    color: #337ab7;
    font-family: monospace;
    font-size: larger;

}
/* End Sugar */

.project {
}

.nobg {
    background-color: transparent !important;
    border: none !important;
}


.start {
    color: #3d1d3b !important;
    margin: 5px;
    font-weight: bold;
}


/*

Going CREATIVE!!!
Going more BLUE!!

*/
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
color: #3db5d8;
}


.project .thumbnail  {
    /*background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/round.png"); */
    /*border-top: #d08002 6px solid; *//* classic */
    /*border-top: #E91E63 6px solid ; *//* wau */
    /* border-top: #03A9F4 6px solid; /* eka */
    border-top: #aad1c8 21px dashed; /* modern */
    border-radius: 3px;
}

a {
    color: #e99002;
}

/* for BTC */
span.btc {
    color: coral;
    font-size: 15px;
}

img.logo {
    width: 95px;
}

/* solve issues with abnormally large thumbnail images */
.thumbnail>img, .thumbnail a>img {
    max-height: 250px;
}

.notice {
    font-size: small;
    font-style: italic;
}

.thumbnail > img, .thumbnail a > img {
    width: 100%;
}

.btn-broad {
    width: 100%;
    margin-top: 10px;
}

.btn-broad {
    color: #fff;
    background-color: #a900c1 !important;
    border-color: #28cfa8 !important;
}

.embeds {
    width: 80vw;
    height: 1000px;
}

.start a {
    color: #f00;
}

/* the moder ui */
.thumbnail {
   box-shadow: #157f6c 2px 4px;
}
